*{
    margin: 0;
    padding: 0;
    }
body{
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    color: #1e1e1e;
    font-weight: 400;
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }
.App{
    width: 90vw;
    }

/* NAVEGACION */
.nav-completo{
    width: 100%;
    padding: 5vw;
    padding-top: 1.5rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}
.nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.link-nav{
    color: #1e1e1e !important;
    font-family: 'JetBrains Mono', sans-serif !important;
    font-style:normal !important;
    font-weight: 400 !important;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}
.link-nav:hover{
    text-shadow: #9e38b8af;
    transition: 0.2s;
}

/* INICIO */
.inicio{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.inicio-texto{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.primera-linea{
    display: flex ;
}
h1{
    color: #1e1e1e !important;
    font-family: 'JetBrains Mono', sans-serif !important;
    font-style:normal !important;
    align-self: center;
}
.nombre{
    color: #9E38B8 !important;
    margin-left: 0.8rem
}
.foto{
    max-width: 18vw;
    max-height: auto;

}
.contenedor-foto{
    align-self: center;
}

/* SOBRE MI */
.contenedor-textos{
    margin-left: 3vw;
}
.titulo{
    color: #1e1e1e!important;
    font-family: 'JetBrains Mono', sans-serif !important;
    font-style:normal !important;
    margin: 0;
}
.subrayado{
    width: 6rem;
    height: .2rem;
    background-color: rgba(61, 201, 176, 1);
}
.texto-cuerpo{
    margin-top: 5vh;
    width: 40vw;
    color: #1e1e1e !important;
    font-family: 'JetBrains Mono', sans-serif !important;
    font-style:normal !important;
    font-size: 1.2rem;
}
.detalle{
    color: #9E38B8 !important;
}

/* PROYECTOS */
.proyectos{
    margin-top: 20vh;
}
.texto-proyectos{
    width: auto;
}

/* HABILIDADES */
.habilidades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7vh;
}
.titulo-habilidades{
    color: #3DC9B0 !important;
    align-self:center ;
    margin: 0;
    margin-top: 20vh;
}
.sbr-habi{
    align-self:center ;
}
.habilidades-logos{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    align-self: center;
} 
.habilidades-espaciado{
    width: 100%;
    display: flex;
    justify-content: space-around;
} 
.habilidades-centro{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
}
.logo-habilidad{
    width: 5rem;
    height: auto;
    align-self: center;
    align-items: center;
}
.back-logo{
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 8rem;
    background: #E6E6E6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 50%;
    align-self: center;
    align-items: center;
}

/* CONTACTO */
.titulo-contacto{
    color:#3DC9B0;
    background-color: #fff;
    border: 3px solid #3DC9B0;
    border-radius: 4rem;
    width:fit-content;
    padding: .5rem 1.3rem;
}
.contenedor-contacto{
    margin-top: 20vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputs{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #E6E6E6;
    border-radius: 20px;
    padding: 2rem;
}
.input{
    margin-top: 1rem;
    padding: .3rem;
}
.input1{
    margin: 0;
}
.submit{
    align-self: center;
    margin-top: 2rem;
}
.btn-submit{
    padding: .3rem 1.5rem;
}